name: test

on:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-24.04
            input: nixpkgs

          - runner: ubuntu-24.04
            input: nixpkgs-unstable

          - runner: ubuntu-24.04-arm
            input: nixpkgs

          - runner: ubuntu-24.04-arm
            input: nixpkgs-unstable

          - runner: macos-14
            input: nixpkgs

          - runner: macos-14
            input: nixpkgs-unstable
    runs-on: ${{ matrix.runner }}
    permissions:
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: |
            download-buffer-size = 524288000 # 500 MB

      - name: Test extensions
        shell: nix develop --command bash {0}
        run: ./scripts/test.sh ${{ matrix.input }}
